{% extends "layouts/backend.html.twig" %}

{% block content %}

<form action="{{ url_for('admin.texts.update', { 'key': key }) }}" method="post">
    {% if text %}
    <h2>{{ text.name }}</h2>
    <div class="mb-3">
        <textarea name="content" rows="28" class="form-control" placeholder="{{ text.default }}" required autofocus
            aria-describedby="contentHelp">{{ text.content }}</textarea>
        <div id="contentHelp" class="form-text">Inhalt in BBCode</div>
    </div>
    <div>
        <input type="submit" name="submit" value="Übernehmen" class="btn btn-primary" />
        <a href="{{ url_for('admin.texts') }}" class="btn btn-link">Zurück</a>
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        Text nicht vorhanden!
    </div>
    <a href="{{ url_for('admin.texts') }}" class="btn btn-link">Zurück</a>
    {% endif %}
</form>
{% endblock %}
