{% if item.type == 'route' %}
<a href="{{ url_for(item.route) }}" {% if item.target %} target="{{ item.target }}" {% endif %} class="nav-link {% if is_current_url(item.route) %} active {%
    endif %}">{{ item.label
    }}</a>
{% elseif item.type == 'url' %}
<a href="{{ item.url }}" {% if item.target %} target="{{ item.target }}" {% endif %} class="nav-link">{{ item.label
    }}</a>
{% endif %}
